body {
    background:#93494B;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    padding:10px;
    margin:10px;
    background:#D97904;
}

.assignment img {
    width: 200px;
    border: 2px solid #BFB304;
    margin-right: 20px;
}

h1{
    color: #8C0303;
    text-align:center;
}

a {
    text-decoration:none;
    color:#D90404;
}