body {
    background:#C1974B;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    padding:10px;
    margin:10px;
    background:#D97904;
}

.assignment img {
    width: 200px;
    border: 2px solid #BE5F3A;
    margin-right: 20px;
}

h1{
    color: #BFB304;
    text-align:center;
}

a {
    text-decoration:none;
    color:#e7640db9;
}